body{
    margin-left: 0;
    margin-right: 0;
}
.box{
    
	width:auto;
	background:rgba(020, 060, 020, 060);
	padding:40px;
	text-align:center;
	margin:auto;
	margin-top:2%;
    margin-bottom: 0;
	color:white;
	font-family:"century gothic",sans-serif;
}
.header{
  background:rgba(13, 211, 28, 0.59);
	color:white;
    width: auto;
    height: auto;
	left:0;
	top:0;
	right:0;
    
}
.header a{
    color:white;
    text-decoration:none;}	
.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;}
.logo{
    
    letter-spacing:2px;
    font-size:1em;}
.menu-icon{
    display:none;}		
.cat_icon{
	width:60px;
	height:60px;
    vertical-align: middle;
    margin-right: 1px;}	
#logo, header h4{
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
	height:200px; 
    margin-top: 10px;
    margin-left: 0;
    display: inline-block;
    margin-bottom:-85px;}
.navigation img{
	width:45px;
	height:45px;}
.navigation ul{
	margin:5px;
	padding:8px;
	list-style:none;}		
.navigation ul li{
    font-size:70px;
	display:inline-block;
    color:#0b0b0b;}
.navigation ul li h1{
    margin-top: 60px;
    margin-bottom: 0;
    font-size:30px;
	display:inline-block;
    color:#f8ffff;}
.navigation ul li a{
	display:block;
	padding:2.5am 2rem;
	transition: all 0.4s linear;
	border-radius:5px;}
.navigation ul li a:hover{
	background:#0F3 ;}
.box h5{  
    margin-top:70;
    margin-bottom: 0px;
	font-size:30px;
	letter-spacing:2px;
	font-weight:100;}
.box h2{
	font-size:20px;
	letter-spacing:2px;
	font-weight:100;}
.box p{
	color:#d7f4e3;
	text-align: justify;}
.ul{
	margin:0;
	padding:0;}
.box li{
    display:inline-block;
    margin:6px;
    list-style:none;}
.box li a{
	color:white;
	text-decoration:none;
	font-size:60px;
	transition:all ease-in-out 250ms;}
a h5{
    display:inline-block;
	flex-wrap:wrap;
    text-align:center;
    color: #080;
    margin-left: 47%;
    cursor:pointer;
	
}
.sec1:hover{
	color:#3b5998;
	}
.sec2:hover{
	color:#0080FF;
	}
.sec3:hover{
	color:#F50206;
	}
.sec4:hover{
	color:#00FF00;
	}
.sec5:hover{
	color:#dd7a86;
	}
.sec6:hover{
	color:#ff000a;
	}