body{
    background: White;
	font-family:georgia,times,serif;
	color: #0f0e0e;
	font-size:2 rem;
	line-height:1.2em;
 
}
@keyframes BgGradient{
	0%{background-position:0% 50%;}
	50%{background-position:100% 50%;}
	100%{background-position:0% 50%;}}
p{
		margin-bottom:1em;}
.container{
		width:95%;
		max-width:95%;
		margin:0 auto;
			}

.list-img{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.list-img li{
    list-style: none;
	margin-right:20px;
	margin-bottom:0px;
    margin-top: 0px;
    }
.list-img li h5{

    background-image: linear-gradient(to right, #2d3f7b, #324564); 
 
    transition: all 2.2s linear;
    border-radius: 10px;
    width: 100px;
    height: auto;
	text-align:center;
	font-family: "Arial",times,serif;
    color:White;}
h5{
    text-align: center;
    font-family: "Arial",times,serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
.list-img li img{
	width:100px;
	height:100px;}	
.header{
    box-shadow:0 5px #213986 inset,
    0 -5px #213986  inset;
    background-image: linear-gradient(to right, #2d3f7b, #2d3f7b);
	background-size:100% 120%;
	animation:BgGradient 5s ease infinite;
    
	color:white;
	position: fixed;
	left:0;
	top:0;
	right:0;
opacity: 0.9;}
.header a{
		color:white;
		text-decoration:none;}		
.logo-nav-container{
		display:flex;
		justify-content: space-between;
		align-items:center;
		flex-wrap:wrap;}
.logo{
		letter-spacing:2px;
		font-size:1em;}
.menu-icon{
		display:none;}		
.cat_icon{
	width:60px;
	height:60px;
    vertical-align: middle;
    margin-right: 1px;}

.containerDer{
	text-align:center;
	float:right;
	width:250px;
	height:300px;}		
#logo, header h4{
	width:50px;
	height:50px;
    display: inline-block;
    margin-bottom:-20px;}
aside{
    width: 250px;
	height:300px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
	margin-top:20px;
	
	background-size:100% 100%;
	animation:banner 10s infinite;}
@keyframes banner{
    
	0%,20%{background-image:url('../images/Escalope.JPG');}
	21%,40%{background-image:url('../images/Hamburguesa.JPG');}
	41%,60%{background-image:url('../images/Papa.JPG');}
61%,80%{background-image:url('../images/Milanesa.JPG');}
81%,100%{background-image:url('../images/Silpanco.jpg');}}
.navigation{
     margin-right: 100px;
    
}
.navigation img{
	width:45px;
	height:45px;}
.navigation ul{
	margin:5px;
	padding:8px;
	list-style:none;}
		
.navigation ul li{
	display:inline-block;}
.navigation ul li a{
    transition: all 2.2s linear;
    margin-left: 20px;
	display:block;
	padding:2.5am 2rem;
	transition: all 2.4s linear;
	border-radius:5px;}
.navigation ul li a:hover{
	background:#9aafe8 ;}

.main{
	padding:55px;}
.main p{
	padding:0px;}				
.Gastro iframe{ 
    height: 700px;
    width:100%;
    margin-left: -5px;
    margin-right: -5px;
}
.iframe{
     border: none;
    margin: 0 auto;
    display: block;
}
.Servicio iframe{
    height: 1400px;
    width:100%;
    margin-left: -5px;
    margin-right: -5px;
}
.Autor iframe{
    height: 650px;
    width:100%;
    margin-left: -5px;
    margin-right: -5px;
}
a h5{
    display:inline-block;
	flex-wrap:wrap;
    text-align:center;
    color: #080;
    margin-left: 40%;
    cursor:pointer;	}
.footer{
	 box-shadow:0 5px #213986 inset,
    0 -5px #213986  inset;
    background-image: linear-gradient(to right, #2d3f7b, #2d3f7b); 
	background-size:100% 120%;
	animation:BgGradient 5s ease infinite;
	padding:0.5em 1;
	text-align:center;
    
	margin-top:0 em;}
.footer img{
	width:40px;
	height:40px;}				
.containerR{			
	max-width:900px;
	padding:0px 5px;
	margin:auto;}
.containerR img {
	width:50px;
	height:50px;}
.containerDer{
	height:auto;
	width:auto;}
	
	@media only screen and (max-width: 767px){
.menu-icon{
	display:block;
	cursor:pointer;
	padding:0.5rem 1rem;}
.navigation{
	width:100%;
	margin-top:1rem;
	}
.navigation ul{
	display:none;}
.navigation ul.show{
	display:block;}
.navigation ul li{
	display:block;}
.navigation ul li a{
	display:block;
	padding:2.5am 0;
	transition: all 0.4s linear;
	border-radius:5px;}
.navigation ul li a:hover{
	background:#6e7ec1;}}

